@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

//Variables
$textColor: #f1f1f1;
$textColorHover: #1a1a1a;
$navBarBxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$btnBg: #f1f1f1;
$btnPadding: 6px 15px;
$btnBorder: 1px solid #f1f1f1;
$btnRadius: 10px;
$iconWidth: 40px;
$iconHeight: 40px;
$borderRadius: 10px;
$spacer: 1rem;
$primary: #08142f;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;
$boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

//mixins
@mixin btStyling () {
    background-color: $btnBg !important;
    padding: $btnPadding !important;
    border-radius: $btnRadius !important;
    border: $btnBorder !important;
    color: $textColorHover !important;
    font-weight: bold !important;
}

@mixin btnStylingHover() {
    border: $btnBorder !important;
    transition: 1s ease background-color !important;
    color: $textColor !important;
    background-color: inherit !important;
}

@mixin gooeyEffect($i) {
    @keyframes gooeyEffect-#{$i} {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(0.5, 1.5);
        }

        100% {
            transform: scale(1, 1);
        }
    }
}

.navBar {
    background: rgb(1, 2, 7);
    background: linear-gradient(123deg, rgba(1, 2, 7, 1) 0%, rgba(5, 74, 159, 1) 100%, rgba(0, 115, 189, 1) 100%);
    color: $textColor;
    box-shadow: $navBarBxShadow;

    .headerBtn {
        @include btStyling();
        margin-right: 10px;

        &:hover {
            @include btnStylingHover();
        }
    }

    .navBarLogo {
        width: 25px;
    }

    .socialMediaIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .icon {
            width: $iconWidth;
            height: $iconHeight;
        }
    }
}

.gotoBtn {
    @include btStyling();
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        @include btnStylingHover();
    }
}


@media (max-width: 530px) {
    .navBar {
        flex-direction: column;
        gap: 10px;

        .appName {
            display: none;
        }

        .navBarLogo {
            width: 40px;
        }

        .headerBtn {
            margin: 0px;
        }

        .socialMediaIcons {
            margin-bottom: 10px;
        }
    }
}

.navbar {
    position: fixed;
    top: $spacer;
    left: $spacer;
    background: #fff;
    border-radius: $borderRadius;
    padding: 0.5rem 0;
    box-shadow: $boxShadow;
    height: calc(100vh - #{$spacer * 4});

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        width: 80px;
        color: black;
        transition: $transition;
        padding-left: 25px;

        span {
            position: absolute;
            left: 100%;
            transform: translate(-($spacer * 3));
            margin-left: 1rem;
            opacity: 0;
            pointer-events: none;
            color: $primary;
            background: #fff;
            padding: $spacer * 0.75;
            transition: $transition;
            border-radius: $borderRadius * 1.75;
        }

        &:hover {
            color: #fff;
        }

        .navbar:not(:hover) &:focus,
        &:hover {
            span {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    &__menu {
        position: relative;
        list-style-type: none;
    }

    &__item {
        &:last-child {
            &:before {
                content: '';
                position: absolute;
                opacity: 0;
                z-index: -1;
                top: 0;
                left: 13%;
                width: $linkHeight;
                height: $linkHeight;
                background: $primary;
                border-radius: $borderRadius * 1.75;
                transition: $timing cubic-bezier(0.22, 1, 0.36, 1) all;
            }
        }

        @for $i from 1 through 12 {

            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i})~li {
                &:hover {
                    ~li:last-child:before {
                        opacity: 1;
                    }
                }

                &:last-child:hover:before {
                    opacity: 1;
                }

                @for $j from 1 through $i {
                    &:nth-child(#{$j}):hover {
                        ~li:last-child:before {
                            @include gooeyEffect($j);
                            top: (100% / $i) * ($j - 1);
                            animation: gooeyEffect-#{$j} $timing 1;
                        }
                    }
                }

                &:last-child:hover:before {
                    @include gooeyEffect($i);
                    top: (100% / $i) * ($i - 1);
                    animation: gooeyEffect-#{$i} $timing 1;
                }
            }
        }
    }
}